<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<%= render 'users/list',user:@user, book:@book %>
<div class="container">
 <div class="row">
 <div class="col-lg-9"> 
  <table class="table table-striped">
    <thead>
        <h3>Books</h3>
         <th></th>
         <th>Title</th>
         <th>Opinion</th>
         <th colspan="3"></th>
    </thead>
   <tboby>
     <% @books.each do |book| %>
     <tr>
        <td>
          <%= link_to (user_path(book.user)) do %>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-square pull-left profile-img", fallback: "no_image.jpg" %> 
           <% end %>
        </td>
        <td>
          <%= link_to book.title,book_path(book.id) %>
        </td>
        <td>
          <%= book.body %>
        </td>
     </tr>
       <% end %>
    </tboby>
   </table>
    <p align="right">CopyRight Infratop.inc</p>
  </div>
 </div>
</div>